
h1 {
  font-size: 9vw;
  margin-left: 5%;
}

#submit {
  font-size: 5vw;
  height: 15vw;
  width: 15vw;
  background: #505EF7;
  border-radius: 50%;
  position: fixed;
  top: 75%;
  left: 43%;
  border: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

#submit:active {
  background: #0015FF;
}

.mainBody {
  margin-top: calc(1em + 1vw);
  height: 71vh;
  width: 100vw;
}

.fa-check {
  color: #CBCBCB;
}

#title {
  margin-left: 5vw;
  word-spacing: 0.2em;
  border: none;
  height: 7vh;
  width: 90vw;
  border-radius: 8px;
  background: #ECECEC;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  font-size: 5vw;
}

#title:focus {
  border: none;
  outline: none;
}

#title::placeholder {
  color: gray;
  padding-left: 2vw;
  padding-top: 1vh;
  font-size: 5vw;
  font-weight: bold;
}

#title:not(:placeholder-shown) {
  padding-left: 2vw;
  font-size: 5vw;
  word-spacing: 0.2em;
  font-weight: bold;
}

#content {
  height: 60vh;
  width: 90vw;
  margin-left: 5vw;
  border: none;
  overflow: hidden;
  resize: none;
  margin-top: 5vh;
  border-radius: 8px;
  background: #ECECEC;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  font-size: 4vw;
}

#content:focus {
  outline: none;
}

#content::placeholder {
  color: gray;
  padding-left: 2vw;
  padding-top: 2vh;
  font-size: 4vw;
}

#content:not(:placeholder-shown) {
  padding-left: 2vw;
  font-size: 4vw;
  word-spacing: 0.2em;
  overflow: hidden;
  resize: none;
}


/* Small screens */
@media (max-width: 600px) {
  h1 {
    font-size: 12vw;
  }

  #submit {
    font-size: 10vw;
    height: 20vw;
    width: 20vw;
    top: 70%;
    left: 40%;
  }

  .mainBody {
    margin-top: calc(1em + 0.5vw); 
  }

  #title, #content {
    font-size: 6vw;
  }

  #title::placeholder, #content::placeholder {
    font-size: 6vw;
    padding-left: 3vw;
    padding-top: 2vh;
  }

  #title:not(:placeholder-shown), #content:not(:placeholder-shown) {
    font-size: 6vw;
    padding-left: 3vw;
  }
}

/* Medium screens */
@media (max-width: 992px) and (min-width: 601px) {
  h1 {
    font-size: 8vw;
  }

  #submit {
    font-size: 4.5vw;
    height: 12vw;
    width: 12vw;
    top: 73%;
    left: 42%;
  }

  .mainBody {
    margin-top: calc(1em + 0.8vw);
  }

  #title, #content {
    font-size: 5vw;
  }

  #title::placeholder, #content::placeholder {
    font-size: 5vw;
    padding-left: 2vw;
    padding-top: 1.5vh;
  }

  #title:not(:placeholder-shown), #content:not(:placeholder-shown) {
    font-size: 5vw;
    padding-left: 2vw;
  }
}

/* Large screens */
@media (min-width: 1200px) {
  h1 {
    font-size: 150px;
  }

  #submit {
    font-size: 80px;
    height: 200px;
    width: 200px;
  }

  .mainBody {
    margin-top: calc(1em + 1vw);
  }

  #title::placeholder, #content::placeholder {
    font-size: 98px;
    padding-left: 100px;
    padding-top: 60px;
  }

  #title:not(:placeholder-shown), #content:not(:placeholder-shown) {
    font-size: 98px;
    padding-left: 100px;
  }
}
